body{
    background: linear-gradient(to right,red,blue);

    margin: 0%;
    padding: 0%;
    color: rgb(235, 233, 233);
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    overflow: hidden;
    text-align: center;
}
.me{
    display: inline;
    font-size: 2.5rem;
    line-height: normal;
    color: yellow;
    background: linear-gradient(to bottom , red, blue);
}
.nav{
    position: fixed;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    width: 100%;
    top:0;
}
.navbar-links ul{
    display: flex; 
    list-style: none;
}
li a {
    text-decoration: none;
    transition: .5s ease;
    margin-right: 2rem; 
    background-color: #a9a7a7;
    border-radius: 10px;
    padding: 10px;
}
li a:hover{
    background-color: aqua;
}
.navbar{
    width: 30px;
    height: 25px;
    border-radius: 10px;
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #a9a7a7;
    padding: 5px;
    margin: 5px;
    top: 0.75rem;
    right: 0.75rem;
}
.line{
    height: 3px;
    width: 100%;
    background: linear-gradient(to right,red,white,blue);

    border-radius: 10px;
    
}

@media (max-width:790px) {
    .navbar{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
        
    }
    .nav{
        flex-direction: column;
        align-items: flex-start;
        
        
    }
    .nav li{
        margin: 10px; 
        
    }
    .nav ul{
        flex-direction: column;
        
    }
    .navbar-links.active{
        display: flex;
    }
}
 img{
    mix-blend-mode:lighten;
    width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
}
img:hover{
    width: 350px;
    height: 300px;
    background:linear-gradient(to right, rgb(245, 68, 68),rgb(111, 197, 255));
    padding: 10px 10px  0px 10px ;
}
/* body of id's */
#intro{
    height: 100vh;

}
#dom{
    height: 100vh;
    padding-top: 80px;
}
#dom img{
    width: 150px;
    height: 150px;
}
#js_lang{
    height: 100vh;
    padding-top: 80px;
    white-space: nowrap;
    overflow-x: scroll;
    
}
.imgs{
    display: inline-block;
    animation: 30s slide infinite reverse;

}
.imgs:hover{
    animation-play-state: paused;
}
#about{
    height: 100vh;
    padding-top: 60px;
    display: grid;
    grid-template-areas: 'left left right right'
    'footer footer footer footer';
}
#time{
    width: 120px;
    height: 50px;
    background: linear-gradient(to right,pink,purple);
    position: fixed;
    padding: 2px;
    text-align: center;
    display: flex;
    margin-bottom: 3px;
    margin-right: 5px;
    bottom: 0;
    right: 0;
}
td{
    border: solid  #fff;
    padding: 10px;
}
.data{
    margin-left: 10%;
    margin-right: 10%;
    
}
button {
    /* Set the initial button styling */
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3cf36d;
    color: #fff;
    border: none;
    transition: transform 0.2s ease;
    font-size: 20px;
  }
  
  button:hover {
    box-shadow: 10px 5px 5px rgba(90, 203, 252, 0.3);
    transform: translateY(-10px);
  }
.ex{
    margin: 5px;
    
    display: grid;
    grid-template-columns: auto auto;
}
.box{
    background-color: black;
    height: 200px;
    margin: 5px;
    
}
@keyframes slide {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}
.road{
    font-size: smaller;
    display: grid;
    grid-template-columns: auto auto auto;
}
.road li{
    list-style: none;
}
.hed{
    display: flex;
    justify-content: space-between;
}
.about{
 display: grid;
 grid-template-columns: auto auto;
}
.plot1{
    grid-area: left; 
    background-color: rgb(175, 172, 172); 
}
.plot2{
    grid-area: right;
    background: linear-gradient(to right,red,white,blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}
.plot2 img{
    mix-blend-mode: darken;
    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    height: 80%;
    background-color: #60b0e2;
    border-radius: 10px;
    padding: 20px;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}



.card-body h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

.card-body p {
    font-size: 20px;
    color: #161616;
    margin-bottom: 15px;
}

.card-body ul {
    list-style: none;
    padding: 0;
}

.card-body li {
    font-size: 20px;
    padding: 5px 0;
}
.plot3{
    grid-area: footer;
    background: linear-gradient(to right,red,white,blue);
}
.plot3 a{
    margin: 25px;
}
#author{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 150px;
    border-radius: 10%;
    background: linear-gradient(to right,red,blue);
    
}
#author img{
    width: 100%;
    height: auto;
    object-fit: fill;
}
#bulb{
    mix-blend-mode: light;
}
.theam{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 180px;
}
.container1{
    width: 200px;
    height: 100%;
    top:0;
    border-radius: 0px 0px 200px 0px;
    background: linear-gradient(to right,red,white,blue);
}
.container2{
    width: 200px;
    height: 100%;
    top:0;
    border-radius: 0px 0px 0px 200px;
    background: linear-gradient(to right,blue,white,red);
}
.gradient-border {
    border-image: linear-gradient(to right, red, white, blue) 10;
    border-style: solid;
    border-width: 10px;
  }